* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./homepage_pic.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures the form stays at the bottom */
    align-items: center;
    height: 100vh;
}

.container-2 {
    background-color: rgba(255, 255, 255, 0.842);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center; 
    width: 100%; /* Full width to keep everything aligned */
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
    text-align: left;
}

input {
    padding: 12px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 18px;
    width: 100%; 
}

button {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #0000007e;
}
