.main{
  width: 100%;
}

.prompt-container,
.story-text,
.loading-spinner {
  height: 100%;
  min-height: 400px;
  width: 98%;
  padding: 20px;
  box-sizing: border-box;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.story-text {
  margin: 20px;
  background-color: rgba(240, 240, 240, 0.95);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  position: relative;
}

.story-text p {
  margin-bottom: 1em;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed; 
  left: 50%; 
  bottom: 80px;
  transform: translateX(-50%);
}

.choices button {
  background-color: #000000;
  color: white;
  padding: 14px 28px; 
  border: none;
  border-radius: 30px; 
  cursor: pointer;
  font-size: 18px;
}

.choices button:hover {
  background-color: #0000007e;
}

.progress-bar-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 150px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #5d4037;
}

input[type="text"], 
textarea {
  width: 80%;
  margin: 10px auto;
  padding: 14px;  
  font-size: 16px;
  border: 2px solid #ccc;
  outline: none;
  background-color: #f7f7f7; 
  border-radius: 8px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);  
  min-height: 50px; 
}

input[type="text"]:focus, 
textarea:focus {
  border-color: #5d4037; 
  background-color: #fffbe6; 
  box-shadow: 0 0 8px rgba(93, 64, 55, 0.8);
}

